<div class="card">
  <div class="card-content">
    <%= link_to "<<", forum_path %>
    <h2 class="center indigo-text text-darken-4"><%= @forum.name %></h2>
    <hr>
    <h4 class="center indigo-text text-darken-3"><%= @topic.name %></h4>
    <p class="center indigo-text text-darken-3"><%= @topic.description %></p>
    <hr>
    <div class="center">
      <%= link_to "Create Post", new_topic_post_path(@topic) %>
    </div>

    <% @topic.posts.order(id: :desc).each do |post| %>
      <%= link_to topic_post_path(@topic, post), class: "black-text" do %>
        <div class="card teal">
          <div class="card-content">
            <p><strong class="left"><%= post.title %></strong></p>
            <p><strong class="right">Replies <span class="badge teal darken-4"><%= post.comments.length %></span></strong></p>
            <br>
            <p>Posted By: <%= post.user.username %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>