<% if flash[:notice] %>
  <p class="red-text"><%= flash[:notice] %></p>
<% end %>
<h2 class="center indigo-text text-darken-4">Architects Of Fate News</h2>
<% @news.order(id: :desc).each do |news| %>
  <div class="card">
    <div class="card-content">
      <span class="card-title indigo-text text-darken-4 center-align"><%= news.title %></span>
      <p class="center-align"><em><%= news.date %></em></p>
      <% if news.image_url %>
        <div class="container">
          <img class="responsive-img" src="<%= news.image_url %>" />
        </div>
      <% end %>
      <p><strong><%= news.content %></strong></p>
    </div>
  </div>
<% end %>