<div class="card">
  <div class="card-content">
    <%= link_to "<<", forum_topic_path(@topic) %>
    <h2 class="center indigo-text text-darken-4"><%= @forum.name %></h2>
    <hr>
    <h4 class="center indigo-text text-darken-4"><%= @topic.name %> Topic</h4>
    <p class="center indigo-text text-darken-4"><%= @topic.description %></p>
    <hr>
    <div class="card teal">
      <div class="card-content">
        <% if current_user == @post.user %>
          <span class="right">
            <%= link_to edit_topic_post_path(@topic, @post) do %>
              <i class="material-icons indigo-text text-darken-4">edit</i>
            <% end %>
            <%= link_to delete_topic_post_path(@topic, @post), method: "delete" do %>
              <i class="material-icons indigo-text text-darken-4">delete</i>
            <% end %>
          </span>
        <% end %>
        <h4 class="center indigo-text text-darken-4"><%= @post.title %></h4>
        <p class="center">Posted By: <%= @post.user.username %></p>
        <hr>
        <% if @post.image_url %>
          <%= image_tag @post.image_url, class: "responsive-img", width: "100%" %>
        <% end %>
        <% if !@post.video_url.empty? && !@post.video_url.nil? %>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.get_video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <br>
        <% end %>
        <% @post.content.split("\r\n").each do |p| %>
          <p><%= auto_link(p, html: {target: '_blank'}) %></p>
        <% end %>
        <p class="right"><%= @post.updated_at > @post.created_at ? ("Edited: " + @post.updated_at.to_s.split(" ")[0]) : ("Created: " + @post.updated_at.to_s.split(" ")[0]) %></p>
        <br>
      </div>
    </div>
    <h4 class="indigo-text text-darken-4">Comments</h4>
    <hr>
    <% @post.valid_comments.order(id: :desc).each do |c| %>
      <div class="card">
        <div class="card-content">
          <% if current_user == c.user %>
          <span class="right">
            <%= link_to edit_topic_post_comment_path(@topic, @post, c) do %>
              <i class="material-icons indigo-text text-darken-4">edit</i>
            <% end %>
            <%= link_to delete_topic_post_comment_path(@topic, @post, c), method: "delete" do %>
              <i class="material-icons indigo-text text-darken-4">delete</i>
            <% end %>
          </span>
        <% end %>
          <% c.content.split("\r\n").each do |p| %>
            <p><%= auto_link(p, html: {target: '_blank'}) %></p>
          <% end if c.content %>
          <br>
          <p class="left">Posted By: <%= c.user.username %></p>
          <p class="right"><%= c.updated_at ? c.updated_at.to_s.split(" ")[0] : c.created_at.to_s.split(" ") %></p>
          <br>
        </div>
      </div>
    <% end %>
    <hr>
    <div class="card">
      <div class="card-content">
        <h4 class="indigo-text text-darken-4">Create Comment</h4>
        <%= form_for @comment, url: post_comments_path(@topic, @post) do |f| %>
          <% if flash[:notice] %>
            <p class="red-text"><%= flash[:notice] %></p>
          <% end %>
          <div class="input-field">
            <%= f.text_area :content, class: "materialize-textarea" %>
            <%= f.label :content%>
          </div>

          <%= f.hidden_field :post_id %>
          <%= f.hidden_field :user_id %>
          <%= f.submit "Create Comment", class: "btn teal" %>
        <% end %>
      </div>
    </div>
  </div>
</div>